<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2 mx-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2 mx-2">Secondary action</a>

      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="row mb-4">
    <div class="d-flex justify-content-end">
      <div class="col-2 mx-4">
        <mat-card>
          <button mat-button color="accent">New Card</button>
          <button mat-fab  aria-label="Example icon button with a home icon" (click)="setDisplay()" >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row mb-3 " *ngIf="display">
       <app-tambah-data (sendData)="getData($event)"></app-tambah-data>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let dataPerson of listPerson ">
        <app-card class="my-alternate-theme" [dataPerson]="dataPerson" (counterLike)="parentFunction($event)"></app-card>

      </div>
    </div>
  </div>
</div>
